* {
    box-sizing: border-box;
}

table, th, tr, td {
    text-align: center;
    vertical-align: top;
    padding: 5px;
    border-spacing: 10px;
    border-collapse: separate;
}

#red-area {
    width: 66.6%;
    border: 2px solid red;
}

#yellow-area {
    width: 33.3%;
    height: 96%;
    border: 2px solid yellow;
}

.container {
    max-width: 1800px;
    margin: 20px auto;
}

.table {
    border: 2px solid gray;
}

.yellow-content {
    position: sticky;
    top: 20px;
}

.green-area {
    width: 100px;
    border: 2px solid green;
}

.pink-area {
    border: 2px solid pink;
}

